<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.azyobuzi.azyotter.saostar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".AzyotterApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:installLocation="auto">
        <activity
            android:name=".activities.AzyotterActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EditAccountActivity"></activity>
        <activity android:name=".activities.LoginActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="net.azyobuzi.azyotter.saostar" android:host="callback" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AccountsActivity" android:launchMode="singleTask"></activity>
        <service android:name=".services.UpdateStatusService"></service>
        <activity android:name=".activities.UpdateStatusActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TwitterUriHookActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="twitter.com" />
                <data android:scheme="https" android:host="twitter.com" />
                <data android:scheme="http" android:host="www.twitter.com" />
                <data android:scheme="https" android:host="www.twitter.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>